@model ProwatchWebApp.Models.report

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ProWatchLayout.cshtml";
}




		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
			<div class="row">
				<ol class="breadcrumb">
					<li>
						<a href="index.html">
							<em class="fa fa-home"></em>
						</a>
					</li>
					<li class="active">Add Report</li>
				</ol>
			</div><!--/.row-->

			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Add Report</h1>
				</div>
			</div><!--/.row-->

			@using (Html.BeginForm("Create", "reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				<div class="form-group col-md-5">
					<label>Task </label>
					<input class="form-control" type="text" name="taskName">
				</div>

				<div class="form-group col-md-5">
					<label>Report Description</label>
					<input class="form-control" type="text" name="reportDescription">
				</div>

				<div class="form-group col-md-8">
					<button id="ken" type="submit" class="btn btn-primary" style="float:left">Save</button>
				</div>
			}
		</div>
	
